@layer tarragon-ui.components {
	dialog {
		overflow: hidden auto;
		display: none;
		flex-direction: column;
		gap: var(--size-3xl);

		max-width: min(var(--size-7xl), 100vw);
		max-height: 100vh;
		margin: auto;
		padding: var(--size-3xl);
		border: var(--size-border-width) solid var(--color-border-overlay);
		border-radius: var(--radius-default);

		color: var(--color-on-background-raised);

		background-color: var(--color-background-raised);
		box-shadow: var(--shadow-elevation-high);

		@media (width > 640px) {
			width: 90%;
			max-height: 90vh;
		}
	}

	dialog[open] {
		display: flex;
	}

	dialog::backdrop {
		background-color: var(--color-backdrop);
	}

	dialog,
	dialog::backdrop {
		opacity: 0;
		transition: display, overlay, opacity;
		transition-duration: 300ms;
		transition-behavior: allow-discrete;
	}

	dialog[open],
	dialog[open]::backdrop {
		opacity: 1;
	}

	@starting-style {
		dialog[open],
		dialog[open]::backdrop {
			opacity: 0;
		}
	}

	dialog.full {
		width: 100%;
		max-width: 100%;
		height: 100%;
		border: none;
		border-radius: 0;
	}

	dialog:focus-visible {
		outline: var(--outline-default);
		outline-offset: var(--outline-offset);
	}
}
