@layer tarragon-ui.theme {
	:root,
	.dark {
		--color-text: oklch(96.19% 0 0deg);
		--color-text-muted: oklch(76.517% 0 0deg);

		/** Backgrounds */

		/* Base */
		--color-background-lightness: 14%;
		--color-background-lightness--raised: 21%;
		--color-background-lightness--interactive: 25%;
		--color-background-chroma: 0.006;
		--color-background-hue: 286deg;

		/** Primary */
		--color-primary-lightness: 70%;
		--color-primary-lightness--hover: 60%;
		--color-primary-chroma: 0.17;
		--color-primary-hue: 162deg;

		/** Muted */
		--color-muted-lightness: 27%;

		/** Accent */
		--color-accent-lightness: 97%;
		--color-accent-lightness--hover: 80%;
		--color-accent-chroma: 0.001;
		--color-accent-hue: 286deg;

		/** Info */
		--color-info-lightness: 70%;
		--color-info-lightness--hover: 60%;
		--color-info-chroma: 0.088;
		--color-info-hue: 256deg;

		/** Success */
		--color-success-lightness: 70%;
		--color-success-lightness--hover: 60%;
		--color-success-chroma: 0.17;
		--color-success-hue: 162deg;

		/** Danger */
		--color-danger-lightness: 60%;
		--color-danger-lightness--hover: 50%;
		--color-danger-chroma: 0.191;
		--color-danger-hue: 22deg;

		/** Warning */
		--color-warning-lightness: 80%;
		--color-warning-lightness--hover: 70%;
		--color-warning-chroma: 0.1781;
		--color-warning-hue: 92deg;
		--color-on-warning: oklch(
			var(--color-background-lightness) var(--color-background-chroma)
				var(--color-background-hue)
		);

		/** Border */
		--color-border-lightness: 50%;
		--color-border-lightness--hover: 70%;
		--color-border-lightness--overlays: 40%;
		--color-border-chroma: 0;
		--color-border-hue: 0deg;

		/** Outline */
		--outline-default: var(--size-3xs) solid var(--color-primary);
		--outline-danger: var(--size-3xs) solid var(--color-danger);
		--outline-offset: var(--size-3xs);
	}

	.light {
		--color-text: oklch(15.789% 0 0deg);
		--color-text-muted: oklch(41.839% 0 0deg);

		/** Backgrounds */

		/* Base */
		--color-background-lightness: 97%;
		--color-background-lightness--raised: 95%;
		--color-background-lightness--interactive: 92%;
		--color-background-chroma: 0.004;
		--color-background-hue: 56.38deg;

		/** Primary */
		--color-primary-lightness: 35%;
		--color-primary-lightness--hover: 60%;
		--color-primary-chroma: 0.17;
		--color-primary-hue: 162deg;

		/** Muted */
		--color-muted-lightness: 82%;

		/** Accent */
		--color-accent-lightness: 27%;
		--color-accent-lightness--hover: 40%;
		--color-accent-chroma: 0.006;
		--color-accent-hue: 286deg;

		/** Info */
		--color-info-lightness: 40%;
		--color-info-lightness--hover: 50%;
		--color-info-chroma: 0.088;
		--color-info-hue: 256deg;

		/** Success */
		--color-success-lightness: 50%;
		--color-success-lightness--hover: 60%;
		--color-success-chroma: 0.17;
		--color-success-hue: 162deg;

		/** Danger */
		--color-danger-lightness: 55%;
		--color-danger-lightness--hover: 55%;
		--color-danger-chroma: 0.245;
		--color-danger-hue: 40deg;

		/** Warning */
		--color-warning-lightness: 70%;
		--color-warning-lightness--hover: 60%;
		--color-warning-chroma: 0.2;
		--color-warning-hue: 46deg;
		--color-on-warning: var(--color-text);

		/** Border */
		--color-border-lightness: 80%;
		--color-border-lightness--hover: 60%;
		--color-border-lightness--overlays: 90%;
		--color-border-chroma: 0.004;
		--color-border-hue: 286deg;
	}
}

@layer tarragon-ui.tokens {
	:root,
	.dark,
	.light {
		--color-background-base: oklch(
			var(--color-background-lightness) var(--color-background-chroma)
				var(--color-background-hue)
		);
		--color-on-background-base: var(--color-text);

		/* Raised */
		--color-background-raised: oklch(
			var(--color-background-lightness--raised) var(--color-background-chroma)
				var(--color-background-hue)
		);
		--color-on-background-raised: var(--color-text);

		/* Interactive */
		--color-background-interactive: oklch(
			var(--color-background-lightness--interactive) var(--color-background-chroma)
				var(--color-background-hue)
		);
		--color-on-background-interactive: var(--color-text);

		/* .Primary */
		--color-primary: oklch(
			var(--color-primary-lightness) var(--color-primary-chroma) var(--color-primary-hue)
		);
		--color-primary-hover: oklch(
			var(--color-primary-lightness--hover) var(--color-primary-chroma)
				var(--color-primary-hue)
		);
		--color-on-primary: oklch(
			var(--color-background-lightness) var(--color-background-chroma)
				var(--color-background-hue)
		);

		/** Accent */
		--color-accent: oklch(
			var(--color-accent-lightness) var(--color-accent-chroma) var(--color-accent-hue)
		);
		--color-accent-hover: oklch(
			var(--color-accent-lightness--hover) var(--color-accent-chroma) var(--color-accent-hue)
		);
		--color-on-accent: oklch(
			var(--color-background-lightness--raised) var(--color-background-chroma)
				var(--color-background-hue)
		);

		/** Muted */
		--color-muted: oklch(
			var(--color-muted-lightness) var(--color-background-chroma) var(--color-background-hue)
		);
		--color-on-muted: var(--color-text);

		/** Info */
		--color-info: oklch(
			var(--color-info-lightness) var(--color-info-chroma) var(--color-info-hue)
		);
		--color-info-hover: oklch(
			var(--color-info-lightness--hover) var(--color-info-chroma) var(--color-info-hue)
		);
		--color-on-info: oklch(
			var(--color-background-lightness) var(--color-background-chroma)
				var(--color-background-hue)
		);

		/** Success */
		--color-success: oklch(
			var(--color-success-lightness) var(--color-success-chroma) var(--color-success-hue)
		);
		--color-success-hover: oklch(
			var(--color-success-lightness--hover) var(--color-success-chroma)
				var(--color-success-hue)
		);
		--color-on-success: oklch(
			var(--color-background-lightness) var(--color-background-chroma)
				var(--color-background-hue)
		);

		/** Danger */
		--color-danger: oklch(
			var(--color-danger-lightness) var(--color-danger-chroma) var(--color-danger-hue)
		);
		--color-danger-hover: oklch(
			var(--color-danger-lightness--hover) var(--color-danger-chroma) var(--color-danger-hue)
		);
		--color-on-danger: oklch(
			var(--color-background-lightness) var(--color-background-chroma)
				var(--color-background-hue)
		);

		/** Warning */
		--color-warning: oklch(
			var(--color-warning-lightness) var(--color-warning-chroma) var(--color-warning-hue)
		);
		--color-warning-hover: oklch(
			var(--color-warning-lightness--hover) var(--color-warning-chroma)
				var(--color-warning-hue)
		);

		/** Border */
		--color-border: oklch(
			var(--color-border-lightness) var(--color-border-chroma) var(--color-border-hue)
		);
		--color-border-hover: oklch(
			var(--color-border-lightness--hover) var(--color-border-chroma) var(--color-border-hue)
		);
		--color-border-overlay: oklch(
			var(--color-border-lightness--overlays) var(--color-border-chroma)
				var(--color-border-hue)
		);

		/** Backdrop */
		--color-backdrop: oklch(0% 0 0deg / 70%);

		/** Hover */
		--color-hover: oklch(from var(--color-primary) l c h / 30%);
		--color-on-hover: var(--color-text);

		/** Shadow */
		--shadow-color: var(--_shadow--color, oklch(0% 0 0deg));
		--shadow-elevation-low:
			0.6px 1px 1.5px oklch(from var(--shadow-color) l c h / 6%),
			1px 1.8px 2.6px -0.7px oklch(from var(--shadow-color) l c h / 9%),
			2.3px 4px 5.9px -1.5px oklch(from var(--shadow-color) l c h / 12%);
		--shadow-elevation-medium:
			0.6px 1px 1.5px oklch(from var(--shadow-color) l c h / 6%),
			2.2px 3.9px 5.7px -0.5px oklch(from var(--shadow-color) l c h / 9%),
			5.1px 8.8px 13px -1px oklch(from var(--shadow-color) l c h / 11%),
			11.4px 20px 29.4px -1.5px oklch(from var(--shadow-color) l c h / 13%);
		--shadow-elevation-high:
			0.6px 1px 1.5px oklch(from var(--shadow-color) l c h / 6%),
			4.4px 7.7px 11.3px -0.2px oklch(from var(--shadow-color) l c h / 7%),
			8px 13.9px 20.4px -0.4px oklch(from var(--shadow-color) l c h / 8%),
			12.3px 21.5px 31.6px -0.6px oklch(from var(--shadow-color) l c h / 9%),
			18.4px 32.2px 47.3px -0.9px oklch(from var(--shadow-color) l c h / 10%),
			27.3px 47.7px 70.1px -1.1px oklch(from var(--shadow-color) l c h / 11%),
			39.9px 69.7px 102.4px -1.3px oklch(from var(--shadow-color) l c h / 12%),
			57.2px 100px 146.9px -1.5px oklch(from var(--shadow-color) l c h / 13%);
	}
}
