{
	"useTabs": true,
	"tabWidth": 4,
	"printWidth": 100,
	"semi": false,
	"singleQuote": true,
	"trailingComma": "all",
	"bracketSpacing": true,
	"arrowParens": "always",
	"endOfLine": "lf",
	"bracketSameLine": false,
	"singleAttributePerLine": false,
	"jsxSingleQuote": true,
	"htmlWhitespaceSensitivity": "ignore",
	"plugins": ["prettier-plugin-astro"]
}
