@layer tarragon-ui.components {
	.card {
		--_card--padding: var(--size-xl);
		--_card--border-radius: var(--radius-default);
		--_card--container-large-direction: row;

		container-type: inline-size;
		display: flex;
		flex-direction: column;
		flex-grow: 1;

		min-width: var(--size-6xl);
		height: 100%;
		padding: 0;
		border: var(--size-border-width) solid var(--color-border);
		border-radius: var(--_card--border-radius);

		background: var(--color-background-raised);
		box-shadow: var(--shadow-elevation-medium);

		&.hero {
			--_card--border-radius: 0;

			border: none;
			box-shadow: none;
		}

		&.vertical-only {
			--_card--container-large-direction: column;
		}
	}

	.card-container {
		display: flex;
		flex-direction: column;
		height: 100%;

		@container (inline-size > 38rem) {
			--_card--padding: var(--size-3xl);

			flex-direction: var(--_card--container-large-direction);
		}
	}

	.card img {
		width: 100%;
		height: auto;
		max-height: 300px;
		border-radius: var(--_card--border-radius) var(--_card--border-radius) 0 0;

		object-fit: cover;

		@container (inline-size > 38rem) {
			min-width: 50%;
			max-height: 100%;
		}
	}

	.card-content {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		gap: var(--size-lg);

		padding: var(--_card--padding);
	}

	.card-interactions {
		display: flex;
		flex-direction: column;
		gap: var(--size-md);
		align-items: center;

		padding: var(--_card--padding);
		border-top: var(--size-border-width) solid var(--color-border);

		@container (inline-size > 38rem) {
			flex-direction: row;
		}

		@container (inline-size <= 38rem) {
			> .btn,
			> button {
				width: 100%;
			}
		}
	}

	.card-date-span {
		display: flex;
		flex-direction: row;
		flex-shrink: 0;
		gap: var(--size-md);
		align-items: center;
		justify-content: start;

		padding: var(--size-sm) var(--size-md);
		border-radius: var(--_card--border-radius) var(--_card--border-radius) 0 0;

		font-size: var(--text-lg);
		font-weight: var(--font-weight-bold);
		font-style: normal;
		line-height: var(--line-height-sm);
		color: var(--color-text);
		text-align: center;

		background-color: oklch(from var(--color-primary) l c h / 30%);

		@container (inline-size > 38rem) {
			padding: var(--size-md);
		}
	}

	.card-date-span-text {
		display: inline-flex;
		flex-direction: row;
		gap: var(--size-2xs);
		align-items: center;
		justify-content: center;
	}

	.card:not(.vertical-only) {
		@container (inline-size > 38rem) {
			img {
				border-radius: var(--_card--border-radius) 0 0 var(--_card--border-radius);
			}

			&:has(.card-interactions) img {
				border-radius: var(--_card--border-radius) 0 0 0;
			}

			.card-date-span {
				flex-direction: column;
				justify-content: center;
				width: var(--size-5xl);
				border-radius: var(--_card--border-radius) 0 0 var(--_card--border-radius);
			}

			&:has(.card-interactions) .card-date-span {
				border-radius: var(--_card--border-radius) 0 0 0;
			}

			.card-date-span-text {
				flex-direction: column;
				gap: 0;
			}
		}
	}

	.navigation-card {
		position: relative;

		&:has(.navigation-card-link:focus-visible) {
			border-radius: var(--_card--border-radius);
			outline: var(--outline-default);
			outline-offset: var(--outline-offset);
		}
	}

	.navigation-card-link {
		color: inherit;
		text-decoration: none;

		&::after {
			content: '';

			position: absolute;
			top: 0;
			left: 0;

			width: 100%;
			height: 100%;
		}

		&:hover,
		&:focus-visible {
			text-decoration: underline;
			outline: none;
		}
	}
}
