@layer tarragon-ui.components {
	.alert {
		--_alert--border-color: var(--alert--border-color, var(--color-info));
		--_alert--background-color: var(--alert--background-color, var(--color-info));
		--_alert--color: var(--alert--color, var(--color-on-info));
		--_alert--box-shadow: var(--alert--box-shadow, var(--shadow-info));

		display: grid;
		grid-template-columns: var(--size-md) 1fr;
		gap: var(--size-xs);
		align-items: center;

		width: 100%;
		padding: var(--size-xs) var(--size-md);
		border: var(--size-border-width) solid var(--_alert--border-color);
		border-radius: var(--radius-default);

		font-size: var(--text-sm);
		color: var(--_alert--color);

		background-color: var(--_alert--background-color);
		box-shadow: var(--_alert--box-shadow);
	}

	.alert > svg {
		width: var(--size-md);
		height: var(--size-md);
	}

	.alert a {
		color: inherit;

		&:hover,
		&:focus-visible {
			color: inherit;
		}
	}

	.alert h2,
	.alert-title {
		grid-column-start: 2;

		font-family: var(--font-heading);
		font-size: var(--text-lg);
		font-weight: var(--font-weight-semibold);
		line-height: var(--line-height-md);
		color: inherit;
	}

	.alert p,
	.alert-description {
		grid-column-start: 2;
		font-size: var(--text-sm);
	}

	.alert ul {
		grid-column-start: 2;
		font-size: var(--text-sm);
	}
}

@layer tarragon-ui.utilities {
	.alert {
		&.danger {
			--alert--background-color: var(--color-danger);
			--alert--color: var(--color-on-danger);
			--alert--border-color: var(--color-danger);
			--alert--box-shadow: var(--shadow-danger);
		}

		&.info {
			--alert--background-color: var(--color-info);
			--alert--border-color: var(--color-info);
			--alert--color: var(--color-on-info);
			--alert--box-shadow: var(--shadow-info);
		}

		&.success {
			--alert--background-color: var(--color-success);
			--alert--border-color: var(--color-success);
			--alert--color: var(--color-on-success);
			--alert--box-shadow: var(--shadow-success);
		}

		&.warning {
			--alert--background-color: var(--color-warning);
			--alert--border-color: var(--color-warning);
			--alert--color: var(--color-on-warning);
			--alert--box-shadow: var(--shadow-warning);
		}

		&.accent {
			--alert--background-color: var(--color-accent);
			--alert--border-color: var(--color-accent);
			--alert--color: var(--color-on-accent);
			--alert--box-shadow: var(--shadow-accent);
		}
	}
}
