@layer tarragon-ui.components {
	@scope (.badge) {
		:scope {
			--_internal-background-color: var(--color-primary);
			--_internal-border-color: transparent;
			--_internal-color: var(--color-on-primary);
			--_background-color: var(--_internal-background-color);
			--_border-color: var(--_internal-border-color);
			--_color: var(--_internal-color);

			overflow: hidden;
			display: inline-flex;
			flex-shrink: 0;
			gap: var(--size-2xs);
			align-items: center;
			justify-content: center;

			width: fit-content;
			padding: var(--size-2xs) var(--size-sm);
			border: var(--size-border-width) solid var(--_border-color);
			border-radius: var(--radius-full);

			font-size: var(--text-xs);
			font-weight: var(--font-weight-medium);
			color: var(--_color);
			white-space: nowrap;

			background-color: var(--_background-color);
		}

		svg {
			pointer-events: none;
			flex-shrink: 0;
			width: var(--size-xs);
			height: var(--size-xs);
		}
	}
}
