@layer tarragon-ui.components {
	.badge {
		--_background-color: var(--override--background-color, var(--color-primary));
		--_border-color: var(--override--border-color, transparent);
		--_color: var(--override--color, var(--color-on-primary));

		overflow: hidden;
		display: inline-flex;
		flex-shrink: 0;
		gap: var(--size-2xs);
		align-items: center;
		justify-content: center;

		width: fit-content;
		padding: var(--size-2xs) var(--size-sm);
		border: var(--size-border-width) solid var(--_border-color);
		border-radius: var(--radius-full);

		font-size: var(--text-xs);
		font-weight: var(--font-weight-medium);
		color: var(--_color);
		white-space: nowrap;

		background-color: var(--_background-color);
	}

	.badge svg {
		pointer-events: none;
		flex-shrink: 0;
		width: var(--size-xs);
		height: var(--size-xs);
	}
}
