@layer tarragon-ui.components {
	.breadcrumb {
		ul {
			display: flex;
			flex-flow: row wrap;
			gap: 0;
			align-items: center;

			min-height: min-content;
			padding: 0;

			white-space: nowrap;
			list-style: none;
		}

		li {
			display: flex;
			align-items: center;
			font-size: var(--text-sm);
			font-weight: var(--font-weight-medium);
		}

		li:not(:first-of-type)::before {
			content: '';

			rotate: 45deg;

			display: block;

			width: 0.375rem;
			height: 0.375rem;
			margin-right: 0.75rem;
			margin-left: 0.5rem;
			border-top: 1px solid;
			border-right: 1px solid;

			opacity: 0.4;
			background-color: #0000;
		}

		span {
			display: inline-flex;
			gap: var(--size-xs);
			align-items: center;

			color: inherit;
			text-decoration: none;
		}

		[aria-current='page'] {
			font-weight: var(--font-weight-bold);
		}
	}
}
