@layer tarragon-ui.components {
	button,
	.btn {
		--_button--background-color: var(--button--background-color, var(--color-primary));
		--_button--background-color-hover: var(
			--button--background-color-hover,
			var(--color-primary-hover)
		);
		--_button--color: var(--button--color, var(--color-on-primary));
		--_button--color-hover: var(--button--color-hover, var(--_button--color));
		--_button--box-shadow: var(--button--box-shadow, var(--shadow-primary));
		--_button--border-color: var(--button--border-color, transparent);
		--_button--border-color-hover: var(--button--border-color-hover, transparent);

		display: inline-flex;
		flex-shrink: 0;
		gap: var(--size-xs);
		align-items: center;
		justify-content: center;

		min-width: var(--minimum-clickable-size);
		min-height: var(--minimum-clickable-size);
		padding: var(--size-xs) var(--size-md);
		border: var(--size-border-width) solid var(--_button--border-color);
		border-radius: var(--radius-default);

		font-size: var(--text-sm);
		font-weight: var(--font-weight-medium);
		color: var(--_button--color);
		text-decoration: none;

		background-color: var(--_button--background-color);

		transition:
			background-color 0.2s,
			box-shadow 0.2s,
			border-color 0.2s,
			color 0.2s;

		&:focus-visible,
		&:hover {
			border-color: var(--_button--border-color-hover);
			color: var(--_button--color-hover);
			background-color: var(--_button--background-color-hover);
			box-shadow: var(--_button--box-shadow);
		}

		&:focus-visible {
			outline: var(--outline-default);
			outline-offset: var(--outline-offset);
		}

		&.is-disabled,
		&:disabled {
			pointer-events: none;
			opacity: 0.5;
		}

		& svg {
			pointer-events: none;
			flex-shrink: 0;
			max-width: 100px;
			max-height: 40px;
		}
	}
}

@layer tarragon-ui.utilities {
	button,
	.btn {
		&.outline {
			--button--color-outline: var(--color-text);
			--button--color-outline-hover: var(--color-text);
			--button--background-color-hover: var(--color-muted);
			--button--border-color: var(--color-border);
			--button--border-color-hover: var(--color-border);
			--button--box-shadow: var(--shadow-default);
			--_button--border: var(--button--border-color);
			--_button--color: var(--button--color-outline);
			--_button--background-color: transparent;
			--_button--border-hover: var(--button--border-color-hover);
			--_button--color-hover: var(--button--color-outline-hover);
			--_button--background-color-hover: var(--button--background-color-hover);
			--_button--box-shadow: var(--button--box-shadow);
		}

		&.ghost {
			--button--color-outline: inherit;
			--button--color-outline-hover: inherit;
			--button--background-color-hover: var(--color-muted);
			--button--border-color-hover: var(--color-border);
			--button--box-shadow: var(--shadow-default);
			--_button--color: var(--button--color-outline);
			--_button--color-hover: var(--button--color-outline-hover);
			--_button--background-color: transparent;
			--_button--background-color-hover: var(--button--background-color-hover);
			--_button--border-color: transparent;
			--_button--border-color-hover: var(--button--border-color-hover);
			--_button--box-shadow: var(--button--box-shadow);
		}

		/* * Variants */
		&.danger {
			--button--background-color: var(--color-danger);
			--button--background-color-hover: var(--color-danger-hover);
			--button--color: var(--color-on-danger);
			--button--color-outline: var(--color-danger);
			--button--color-outline-hover: var(--color-on-danger);
			--button--border-color: var(--color-danger);
			--button--border-color-hover: var(--color-danger-hover);
			--button--box-shadow: var(--shadow-danger);
		}

		&.accent {
			--button--background-color: var(--color-accent);
			--button--background-color-hover: var(--color-accent-hover);
			--button--border-color: var(--color-accent);
			--button--border-color-hover: var(--color-accent-hover);
			--button--color: var(--color-on-accent);
			--button--color-outline: var(--color-accent);
			--button--color-outline-hover: var(--color-on-accent);
			--button--box-shadow: var(--shadow-accent);
		}

		&.size-icon {
			width: var(--minimum-clickable-size);
			height: var(--minimum-clickable-size);
			padding: var(--size-sm);
		}

		@media (width <= calc(640px - 1px)) {
			&.size-icon-below-tablet {
				width: var(--minimum-clickable-size);
				height: var(--minimum-clickable-size);
				padding: var(--size-sm);
			}
		}

		@media (width <= calc(1024px - 1px)) {
			&.size-icon-below-desktop {
				width: var(--minimum-clickable-size);
				height: var(--minimum-clickable-size);
				padding: var(--size-sm);
			}
		}
	}
}
