@layer tarragon-ui.components {
	button,
	.btn {
		display: inline-flex;
		flex-shrink: 0;
		gap: var(--size-xs);
		align-items: center;
		justify-content: center;

		min-width: var(--minimum-clickable-size);
		min-height: var(--minimum-clickable-size);
		padding: var(--size-xs) var(--size-md);
		border: none;
		border-radius: var(--radius-default);

		font-size: var(--text-sm);
		font-weight: var(--font-weight-medium);
		color: var(--color-on-primary);
		text-decoration: none;
		white-space: nowrap;

		background-color: var(--color-primary);

		transition:
			background-color 0.2s,
			box-shadow 0.2s,
			border-color 0.2s,
			color 0.2s;

		&:focus-visible,
		&:hover {
			color: var(--color-on-primary);
			background-color: var(--color-primary-hover);
			box-shadow: var(--shadow-default);
		}

		&:focus-visible {
			outline: var(--outline-default);
			outline-offset: var(--outline-offset);
		}

		&.is-disabled,
		&:disabled {
			pointer-events: none;
			opacity: 0.5;
		}

		& svg {
			pointer-events: none;
			flex-shrink: 0;
			max-width: 100px;
			max-height: 40px;
		}
	}

	/* * Variants */
	.danger {
		color: var(--color-on-danger);
		background-color: var(--color-danger);

		&:focus-visible,
		&:hover {
			color: var(--color-on-danger);
			background-color: var(--color-danger-hover);
			box-shadow: var(--shadow-danger);
		}
	}

	.ghost {
		color: inherit;
		background-color: transparent;
		box-shadow: none;

		&:focus-visible,
		&:hover {
			color: inherit;
			background-color: var(--color-muted);
		}
	}

	.link {
		cursor: pointer;
		color: inherit;
		background-color: transparent;
		box-shadow: none;

		&:focus-visible,
		&:hover {
			color: inherit;
			text-decoration: underline;
			background-color: var(--color-muted);
		}
	}

	.outline {
		border: 1px solid var(--color-border);
		color: var(--color-text);
		background-color: transparent;

		&:focus-visible,
		&:hover {
			color: var(--color-text);
			background-color: var(--color-muted);
		}
	}

	.accent {
		color: var(--color-on-accent);
		background-color: var(--color-accent);

		&:focus-visible,
		&:hover {
			color: var(--color-on-accent);
			background-color: var(--color-accent-hover);
		}
	}

	.btn[aria-current='page']:not(.primary) {
		color: var(--color-on-background-interactive);
		background-color: var(--color-background-interactive);
	}

	.size-icon {
		width: var(--minimum-clickable-size);
		height: var(--minimum-clickable-size);
		padding: var(--size-sm);
	}

	@media (width > 640px) {
		.size-button-tablet {
			width: unset;
			height: unset;
			padding: var(--size-xs) var(--size-md);
		}
	}

	@media (width > 1024px) {
		.size-button-desktop {
			width: unset;
			height: unset;
			padding: var(--size-xs) var(--size-md);
		}
	}
}
