@layer tarragon-ui.components {
	dialog {
		overflow: hidden;

		width: 90%;
		max-width: var(--size-7xl);
		max-height: 100vh;
		margin: auto;
		padding: var(--size-3xl);
		border: var(--size-border-width) solid var(--color-border);
		border-radius: var(--radius-default);

		color: var(--color-on-background-raised);

		background-color: var(--color-background-raised);
		box-shadow: var(--shadow-default);
	}

	dialog[open] {
		display: flex;
		flex-direction: column;
		gap: var(--size-3xl);
	}

	dialog::backdrop {
		background-color: var(--color-backdrop);
	}

	dialog,
	dialog::backdrop {
		opacity: 0;
		transition:
			display 0.3s allow-discrete,
			overlay 0.3s allow-discrete,
			opacity 0.3s allow-discrete;
	}

	dialog[open],
	dialog[open]::backdrop {
		opacity: 1;
	}

	@starting-style {
		dialog[open],
		dialog[open]::backdrop {
			opacity: 0;
		}
	}

	dialog.full {
		width: 100%;
		max-width: 100%;
		height: 100%;
		border: none;
		border-radius: 0;
	}
}
