@layer tarragon-ui.components {
	.drawer {
		inset-inline: auto 0;

		overflow: hidden auto;

		width: clamp(var(--size-6xl), 80%, var(--size-7xl));
		max-width: 100%;
		height: 100%;
		max-height: 100%;
		margin: 0;
		padding: var(--size-3xl);
		border: none;
		border-left: 1px solid var(--color-border);
		border-radius: 0;

		color: var(--color-on-background-raised);

		background-color: var(--color-background-raised);
		box-shadow: none;
	}
}
