@layer tarragon-ui.components {
	input[type='file'] {
		--_file-input--background-color: var(--file-input--background-color, var(--color-primary));
		--_file-input--background-color-hover: var(
			--file-input--background-color-hover,
			var(--color-primary-hover)
		);
		--_file-input--color: var(--file-input--color, var(--color-on-primary));
		--_file-input--color-hover: var(--file-input--color-hover, var(--_file-input--color));
		--_file-input--box-shadow: var(--file-input--box-shadow, var(--shadow-primary));
		--_file-input--border-color: var(--file-input--border-color, transparent);
		--_file-input--border-color-hover: var(--file-input--border-color-hover, transparent);

		width: 100%;
		min-width: 0;
		padding: var(--size-3xs);
		border-radius: var(--radius-default);

		font-size: var(--text-md);

		appearance: none;

		&::file-selector-button {
			min-width: var(--minimum-clickable-size);
			min-height: var(--minimum-clickable-size);
			margin-inline-end: var(--size-md);
			padding: var(--size-xs) var(--size-md);
			border: var(--size-border-width) solid var(--_file-input--border-color);
			border-radius: var(--radius-default);

			font-size: var(--text-sm);
			font-weight: var(--font-weight-medium);
			color: var(--_file-input--color);
			text-decoration: none;

			background-color: var(--_file-input--background-color);

			transition:
				background-color 0.2s,
				box-shadow 0.2s,
				border-color 0.2s,
				color 0.2s;

			&:focus-visible,
			&:hover {
				border-color: var(--_file-input--border-color-hover);
				color: var(--_file-input--color-hover);
				background-color: var(--_file-input--background-color-hover);
				box-shadow: var(--_file-input--box-shadow);
			}
		}

		&:focus-visible,
		&:hover {
			&::file-selector-button {
				border-color: var(--_file-input--border-color-hover);
				color: var(--_file-input--color-hover);
				background-color: var(--_file-input--background-color-hover);
				box-shadow: var(--_file-input--box-shadow);
			}
		}

		&:focus-visible {
			outline: var(--outline-default);
			outline-offset: var(--outline-offset);
		}

		&:disabled {
			pointer-events: none;
			opacity: 0.5;
		}

		&[aria-invalid='true'] {
			border: var(--size-border-width) solid var(--color-danger);
		}

		&[aria-invalid='true']:focus-visible {
			outline: var(--outline-danger);
			outline-offset: var(--outline-offset);
		}

		&[aria-invalid='true']:hover:not([disabled]) {
			border-color: var(--color-danger-hover);
		}
	}
}

@layer tarragon-ui.utilities {
	input[type='file'] {
		&.outline {
			--file-input--color-outline: var(--color-text);
			--file-input--color-outline-hover: var(--color-text);
			--file-input--background-color-hover: var(--color-muted);
			--file-input--border-color: var(--color-border);
			--file-input--border-color-hover: var(--color-border);
			--file-input--box-shadow: var(--shadow-default);
			--_file-input--border: var(--file-input--border-color);
			--_file-input--color: var(--file-input--color-outline);
			--_file-input--background-color: transparent;
			--_file-input--border-hover: var(--file-input--border-color-hover);
			--_file-input--color-hover: var(--file-input--color-outline-hover);
			--_file-input--background-color-hover: var(--file-input--background-color-hover);
			--_file-input--box-shadow: var(--file-input--box-shadow);
		}

		&.accent {
			--file-input--background-color: var(--color-accent);
			--file-input--background-color-hover: var(--color-accent-hover);
			--file-input--border-color: var(--color-accent);
			--file-input--border-color-hover: var(--color-accent-hover);
			--file-input--color: var(--color-on-accent);
			--file-input--color-outline: var(--color-accent);
			--file-input--color-outline-hover: var(--color-on-accent);
			--file-input--box-shadow: var(--shadow-accent);
		}
	}
}
