@layer tarragon-ui.components {
	footer {
		color: var(--color-on-background-raised);
		background-color: var(--color-background-raised);

		&:not(.container) {
			padding-inline: var(--size-3xl);
		}
	}

	.footer-content {
		display: grid;
		grid-template-columns: 1fr;
		gap: var(--size-2xl);
		padding-block: var(--size-2xl);

		@media (width > 640px) {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	.footer-brand {
		@media (width > 640px) {
			grid-column: span 2;
		}
	}
}
