@layer tarragon-ui.components {
	footer {
		display: flex;
		flex-direction: column;
		gap: var(--size-2xl);
		align-items: start;
		justify-content: space-between;

		padding: var(--size-2xl) var(--size-3xl);

		color: var(--color-on-background-raised);

		background-color: var(--color-background-raised);

		@media (width > 640px) {
			flex-direction: row;
		}
	}
}
