@layer tarragon-ui.components {
	form {
		display: flex;
		flex-direction: column;
		gap: var(--size-3xl);
		max-width: var(--maximum-input-width);
	}

	.max-w-form {
		max-width: var(--maximum-input-width);
	}

	.action-footer {
		display: flex;
		flex-direction: row;
		gap: var(--size-xs);
		justify-content: end;
	}

	.form-group {
		display: flex;
		flex-direction: column;
		gap: var(--size-2xs);
		width: 100%;
	}

	label {
		font-size: var(--text-sm);
		font-weight: var(--font-weight-bold);
		line-height: var(--line-height-md);
		color: var(--color-text);
	}

	label:has(input[type='checkbox']),
	label:has(input[type='radio']) {
		display: flex;
		gap: var(--size-xs);
		align-items: center;

		min-height: var(--minimum-clickable-size);
		padding-block: var(--size-xs);

		font-size: var(--text-md);
		font-weight: var(--font-weight-medium);
		color: var(--color-text);
	}

	.form-message {
		display: inline-flex;
		gap: var(--size-2xs);
		align-items: center;

		font-size: var(--text-sm);
		color: var(--color-danger);
	}

	.form-message svg {
		width: var(--size-md);
	}

	fieldset {
		display: flex;
		flex-direction: column;
		gap: var(--size-3xl);
		align-items: start;

		width: 100%;
		margin: 0;
		padding: 0;
		padding-top: var(--size-xs);
		border: none;
	}

	.choice-group {
		gap: 0;
	}

	legend {
		padding: 0;

		font-size: var(--text-sm);
		font-weight: var(--font-weight-bold);
		line-height: var(--line-height-md);
		color: var(--color-text-muted);
	}

	tui-ajax-form {
		position: relative;
		display: block;

		.loading {
			position: absolute;
			z-index: 5;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			display: grid;
			place-content: center;

			width: 100%;
			height: 100%;
			border-radius: var(--radius-default);

			transition: all 0.3s ease-in;
		}

		&[is-submitting] form {
			visibility: hidden;
		}

		&:not([is-submitting]) .loading {
			display: none;
		}

		.alert {
			margin-top: var(--size-md);
		}
	}
}
