@layer tarragon-ui.components {
	h1,
	.h1,
	h2,
	.h2,
	h3,
	.h3,
	h4,
	.h4,
	h5,
	.h5,
	h6,
	.h6 {
		font-family: var(--font-heading);
		color: var(--color-text);
	}

	h1,
	.h1,
	h2,
	.h2 {
		font-weight: var(--font-weight-bold);
		line-height: var(--line-height-xs);
	}

	h3,
	.h3,
	h4,
	.h4,
	h5,
	.h5,
	h6,
	.h6 {
		font-weight: var(--font-weight-semibold);
		line-height: var(--line-height-sm);
	}

	h1,
	.h1 {
		font-size: clamp(var(--text-4xl), 4vw + 1rem, var(--text-6xl));
	}

	h2,
	.h2 {
		font-size: clamp(var(--text-3xl), 2.5vw + 1rem, var(--text-4xl));
	}

	h3,
	.h3 {
		font-size: clamp(var(--text-2xl), 1.8vw + 0.75rem, var(--text-3xl));
	}

	h4,
	.h4 {
		font-size: clamp(var(--text-xl), 1.2vw + 0.5rem, var(--text-2xl));
	}

	h5,
	.h5 {
		font-size: clamp(var(--text-lg), 1vw + 0.25rem, var(--text-xl));
	}

	h6,
	.h6 {
		font-size: clamp(var(--text-md), 1vw + 0.1rem, var(--text-lg));
	}
}
