@layer tarragon-ui.components {
	input[type='text'],
	input[type='password'],
	input[type='email'],
	input[type='tel'],
	input[type='search'],
	input[type='url'],
	input[type='number'],
	input[type='date'],
	input[type='datetime-local'] {
		width: 100%;
		min-width: 0;
		max-width: var(--maximum-input-width);
		min-height: var(--minimum-clickable-size);
		padding: var(--size-2xs) var(--size-md);
		border: var(--size-border-width) solid var(--color-border);
		border-radius: var(--radius-default);

		font-size: var(--text-md);
		color: var(--color-text);

		background-color: var(--color-background-interactive);

		transition:
			box-shadow 0.2s,
			border-color 0.2s,
			color 0.2s;

		&::placeholder {
			color: var(--color-text-muted);
		}

		&::selection {
			color: var(--color-on-primary);
			background-color: var(--color-primary);
		}

		&:focus-visible {
			outline: var(--outline-default);
			outline-offset: var(--outline-offset);
		}

		&:disabled {
			pointer-events: none;
			opacity: 0.5;
		}

		&:hover:not([disabled]) {
			border-color: var(--color-border-hover);
			box-shadow: var(--shadow-default);
		}

		/* --- Error State Styling --- */

		/* When the input has the aria-invalid="true" attribute */
		&[aria-invalid='true'] {
			border-color: var(--color-danger);
		}

		&[aria-invalid='true']:focus-visible {
			outline: 2px solid var(--color-danger);
			outline-offset: var(--outline-offset);
		}

		/* Optional: Keep the error border on hover/focus if it's invalid */
		&[aria-invalid='true']:hover:not([disabled]) {
			border-color: var(--color-danger-hover);
			box-shadow: var(--shadow-danger);
		}
	}
}
