@layer tarragon-ui.components {
	progress {
		position: relative;

		overflow: hidden;

		width: 100%;
		height: 0.8rem;
		border: 1px solid var(--color-border);
		border-radius: var(--radius-default);

		color: var(--color-primary);

		appearance: none;
		background-color: var(--color-background-interactive);

		&::-moz-progress-bar {
			border-radius: var(--radius-default);
			background-color: currentcolor;
		}

		&::-webkit-progress-bar {
			border-radius: var(--radius-default);
			background-color: transparent;
		}

		&::-webkit-progress-value {
			background-color: var(--color-primary);
		}
	}
}
