@layer tarragon-ui.components {
	.steps {
		counter-reset: step;

		overflow: auto hidden;
		display: grid;
		grid-auto-columns: 1fr;
		grid-auto-flow: column;
		gap: 0;

		padding: 0;

		list-style: none;
	}

	.steps.steps-vertical {
		grid-auto-flow: row;
		grid-auto-rows: 1fr;
	}

	.steps li {
		--color-step-bg: var(--color-muted);
		--color-step-fg: var(--color-on-muted);

		display: grid;
		grid-template-columns: auto;
		grid-template-rows: 2.5rem 1fr;
		place-items: center;

		min-width: var(--size-4xl);
		margin: 0;

		text-align: center;
	}

	.steps li:not(:first-of-type)::before {
		content: '';

		top: 0;

		grid-column-start: 1;
		grid-row-start: 1;

		width: 100%;
		height: 0.5rem;
		margin-inline-start: -100%;
		border: var(--size-border-width) solid;

		color: var(--color-step-bg);

		background-color: var(--color-step-bg);
	}

	.steps li::after {
		content: counter(step);
		counter-increment: step;

		position: relative;
		z-index: 1;

		display: grid;
		grid-column-start: 1;
		grid-row-start: 1;
		place-items: center;
		place-self: center;

		width: 2rem;
		height: 2rem;
		border: var(--size-border-width) solid var(--color-step-bg);
		border-radius: var(--radius-full);

		color: var(--color-step-fg);

		background-color: var(--color-step-bg);
	}

	.step-complete::before,
	.step-complete::after {
		--color-step-bg: var(--color-primary);
		--color-step-fg: var(--color-on-primary);
	}

	.steps.steps-vertical li {
		display: grid;
		grid-template-columns: 40px 1fr;
		grid-template-rows: auto;
		gap: 0.5rem;
		justify-items: start;

		min-height: 4rem;
	}

	.steps.steps-vertical li::before {
		translate: -50% -50%;
		width: 0.5rem;
		height: 100%;
		margin-inline-start: 50%;
	}
}
