@layer tarragon-ui.components {
	table {
		border-collapse: collapse;

		width: 100%;

		font-size: var(--text-md);
		line-height: var(--line-height-md);
		color: var(--color-text);

		background-color: inherit;
		box-shadow: var(--shadow-default);
	}

	caption {
		padding: var(--size-xs);
	}

	thead {
		font-weight: var(--font-weight-semibold);
		color: var(--color-on-background-base);
		text-align: left;
		background-color: var(--color-background-base);
	}

	tbody {
		color: var(--color-on-background-interactive);
		background-color: var(--color-background-interactive);
	}

	tbody tr:hover {
		background-color: var(--color-muted);
	}

	th,
	td {
		padding: var(--size-xs);
		border: var(--size-border-width) solid var(--color-border);
		text-align: left;
	}

	tfoot {
		color: var(--color-on-background-base);
		background-color: var(--color-background-base);
	}
}
