@layer tarragon-ui.components {
	tui-tabs {
		display: flex;
		flex-direction: column;
		gap: var(--size-md);

		.tablist {
			display: flex;
			flex-direction: column;

			margin: 0;
			padding: 0;

			list-style: none;
		}

		.tablist li {
			margin: 0;
			padding: 0;
		}

		.tablist li a {
			position: relative;

			display: inline-flex;
			align-items: center;
			justify-content: center;

			min-width: 6.25rem;
			padding: var(--size-sm) var(--size-md);
			border-left: 4px solid var(--color-border);

			font-size: var(--text-sm);
			font-weight: var(--font-weight-normal);
			font-style: normal;
			color: var(--color-text);
			text-decoration: none;

			background-color: transparent;

			&:hover {
				border-color: var(--color-primary);
			}

			&:focus-visible {
				outline: var(--outline-default);
				outline-offset: var(--outline-offset);
			}

			&[aria-selected='true'] {
				border-color: var(--color-primary);
				font-weight: var(--font-weight-bold);
			}

			&[aria-disabled='true'] {
				pointer-events: none;
				opacity: 0.6;
			}
		}

		.tabpanel {
			&:focus-visible {
				border-radius: var(--radius-default);
				outline: var(--outline-default);
				outline-offset: var(--outline-offset);
			}
		}

		@media (width > 640px) {
			.tablist {
				flex-direction: row;
			}

			.tablist li a {
				border-right: none;
				border-bottom: 4px solid var(--color-border);
				border-left: none;

				&:hover,
				&[aria-selected='true'] {
					border-color: var(--color-primary);
				}
			}
		}
	}
}
