@layer tarragon-ui.components {
	[class*='tooltip'] {
		position: relative;

		&::after {
			pointer-events: none;
			content: attr(data-tooltip);

			position: absolute;
			z-index: 100;
			bottom: 125%; /* Places tooltip above the trigger */
			left: 50%; /* Common for both positions, so apply here */
			transform: translateX(-50%); /* Common for both positions, so apply here */

			min-width: 180px;
			padding: 8px 10px;
			border-radius: var(--radius-default);

			font-size: 0.8em;
			line-height: 1.4;
			color: var(--color-on-accent);
			text-align: center;
			white-space: normal;

			visibility: hidden;
			opacity: 0;
			background-color: var(--color-accent);

			transition:
				opacity 0.3s ease-in-out,
				visibility 0.3s ease-in-out;
		}

		/* Arrow for the tooltip (::before pseudo-element) */
		&::before {
			pointer-events: none;
			content: '';

			position: absolute;
			z-index: 101;
			bottom: 102%; /* Places arrow just below the tooltip body */
			left: 50%; /* Common for both positions, so apply here */
			transform: translateX(-50%); /* Common for both positions, so apply here */

			border-color: var(--color-accent) transparent transparent transparent; /* Arrow points down from tooltip */
			border-style: solid;
			border-width: 5px;

			visibility: hidden;
			opacity: 0;

			transition:
				opacity 0.3s ease-in-out,
				visibility 0.3s ease-in-out;
		}

		&:hover::after,
		&:focus-visible::after,
		&:focus::after,
		&:hover::before,
		&:focus-visible::before,
		&:focus::before {
			visibility: visible;
			opacity: 1;
		}
	}

	.tooltip-bottom {
		&::after {
			top: 125%;
			bottom: auto;
		}

		&::before {
			top: 102%;
			bottom: auto;
			border-color: transparent transparent var(--color-accent) transparent; /* Arrow points up from tooltip */
		}
	}

	.tooltip-left {
		&::after {
			transform: translateX(-90%);
		}
	}

	.tooltip-right {
		&::after {
			transform: translateX(-10%);
		}
	}
}
