@layer tarragon-ui.components {
	tui-ajax-form {
		position: relative;
		display: block;

		.loading {
			position: absolute;
			z-index: 5;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			display: grid;
			place-content: center;

			width: 100%;
			height: 100%;
			border-radius: var(--radius-default);

			transition: all 0.3s ease-in;
		}

		&[data-tui-is-submitting] form {
			visibility: hidden;
		}

		&:not([data-tui-is-submitting]) .loading {
			display: none;
		}

		.alert {
			margin-top: var(--size-md);
		}
	}
}
