@layer tarragon-ui.components {
	tui-dropdown {
		&:has(:popover-open) svg {
			transform: rotate(180deg);
		}

		ul {
			margin: 0;
			margin-top: var(--size-xs);
			padding: var(--size-2xs);
			list-style: none;
		}
	}
}
