---
import { Search } from '@lucide/astro'

type Props = {
	class?: string
	value?: string
}

const { class: className, value } = Astro.props
---

<form action='/components' method='Get' role='search' class:list={['search', className]}>
	<div>
		<label class='visually-hidden' for='component-search-header'>Search for components</label>
		<input
			type='search'
			name='search'
			placeholder='Component name'
			id='component-search-header'
			value={value}
		/>
	</div>
	<button type='submit' class='outline'>
		<Search />
		<span class='visually-hidden-below-tablet'>Search</span>
	</button>
</form>
