---
import { MenuIcon, XIcon } from '@lucide/astro'
import NavigationAccordion from './NavigationAccordion.astro'
import type { Page } from '@/scripts/constants'

type Props = {
	currentPage: Page | undefined
}

const { currentPage } = Astro.props
---

<div data-testid='dialog-navigation'>
	<button
		class='ghost size-icon hide-above-desktop'
		commandfor='mobile-menu'
		command='show-modal'
	>
		<MenuIcon aria-hidden />
		<span class='visually-hidden'>Open navigation</span>
	</button>

	<dialog class='drawer' id='mobile-menu' closedby='any'>
		<div class='split'>
			<h2>Pages</h2>
			<form method='dialog'>
				<button class='ghost size-icon'>
					<XIcon aria-hidden /><span class='visually-hidden'>Close navigation</span>
				</button>
			</form>
		</div>
		<NavigationAccordion currentPage={currentPage} />
	</dialog>
</div>
