---
import { MenuIcon, XIcon } from '@lucide/astro'
import { sections } from '@/scripts/constants'
---

<div data-testid='dialog-navigation'>
	<button
		class='ghost size-icon hide-above-desktop'
		commandfor='mobile-menu'
		command='show-modal'
	>
		<MenuIcon aria-hidden />
		<span class='visually-hidden'>Open navigation</span>
	</button>

	<dialog class='drawer' id='mobile-menu' closedby='any'>
		<div class='split'>
			<h2>Pages</h2>
			<form method='dialog'>
				<button class='ghost size-icon'>
					<XIcon aria-hidden /><span class='visually-hidden'>Close navigation</span>
				</button>
			</form>
		</div>
		{
			sections.map((section) => (
				<div class='stack'>
					<h3>{section.name}</h3>
					<ul class='list-none'>
						{section.pages.map((page) => (
							<li>
								<a href={page.href} class='btn ghost'>
									{page.name}
								</a>
							</li>
						))}
					</ul>
				</div>
			))
		}
	</dialog>
</div>
