---
import BrandIcon from '../assets/brand-icon.svg'
import { buildUrl } from '@/scripts/constants'
---

<footer>
	<div class='stack max-w-7xl'>
		<div class='cluster'>
			<BrandIcon aria-hidden />
			Tarragon-UI
		</div>
		<p>Lightweight CSS and WebComponents for performant and accessible applications</p>
	</div>
	<div class='cluster gap-4xl items-start'>
		<nav class='stack gap-xs' aria-labelledby='footer-nav-code'>
			<h2 class='h4' id='footer-nav-code'>Code</h2>
			<ul class='list-none padding-0'>
				<li>
					<a href='https://github.com/m-thoren/tarragon-ui' class='link-subtle'>Github</a>
				</li>
				<li>
					<a href='https://www.npmjs.com/package/@tarragon-ui/styles' class='link-subtle'>
						CSS
					</a>
				</li>
				<li>
					<a href='https://www.npmjs.com/package/@tarragon-ui/js' class='link-subtle'>
						JavaScript
					</a>
				</li>
			</ul>
		</nav>
		<nav class='stack gap-xs' aria-labelledby='footer-nav-docs'>
			<h2 class='h4' id='footer-nav-docs'>Docs</h2>
			<ul class='list-none padding-0'>
				<li><a href={buildUrl('/components')} class='link-subtle'>Search</a></li>
				<li>
					<a href={buildUrl('/installation')} class='link-subtle'>Installation</a>
				</li>
				<li>
					<a href={buildUrl('/changelog')} class='link-subtle'>Changelog</a>
				</li>
			</ul>
		</nav>
	</div>
</footer>
