@layer tarragon-ui.utilities {
	.nowrap {
		flex-wrap: nowrap;
	}

	.items-start {
		align-items: start;
	}

	.items-center {
		align-items: center;
	}

	.justify-center {
		justify-content: center;
	}

	.flex-1 {
		flex: 1 0 0;
	}

	.block {
		display: block;
	}
}
