@layer tarragon-ui.utilities {
	.aspect-ratio-1x1 {
		aspect-ratio: 1/1;
	}

	.aspect-ratio-3x2 {
		aspect-ratio: 3/2;
	}

	.aspect-ratio-4x3 {
		aspect-ratio: 4/3;
	}

	.aspect-ratio-16x9 {
		aspect-ratio: 16/9;
	}

	.aspect-ratio-21x9 {
		aspect-ratio: 21/9;
	}
}
