@layer tarragon-ui.utilities {
	.margin-auto {
		margin: auto;
	}

	.margin-block-auto {
		margin-block: auto;
	}

	.margin-block-start-auto {
		margin-block-start: auto;
	}

	.margin-block-end-auto {
		margin-block-end: auto;
	}

	.margin-inline-auto {
		margin-inline: auto;
	}

	.margin-inline-start-auto {
		margin-inline-start: auto;
	}

	.margin-inline-end-auto {
		margin-inline-end: auto;
	}
}
