@layer tarragon-ui.utilities {
	.h-full {
		height: 100%;
	}

	.w-full {
		width: 100%;
	}

	.max-w-7xl {
		max-width: var(--size-7xl);
	}

	.overflow-auto {
		overflow: auto;
	}

	.overflow-x-auto {
		overflow-x: auto;
	}
}
