@layer tarragon-ui.layout {
	.container {
		--_container--max-width: var(--container--max-width, var(--size-container));
		--_container--viewport-padding: var(--container--viewport-padding, var(--size-xl));

		display: grid;
		grid-template-columns:
			1fr
			min(var(--_container--max-width), calc(100% - var(--_container--viewport-padding) * 2))
			1fr;
		width: 100%;

		> * {
			grid-column: 2;
		}

		@media (width > 640px) {
			--_container--viewport-padding: var(--size-3xl);
		}
	}

	.bleed {
		grid-column: 1 / 4;
		width: 100%;
	}
}
