@layer tarragon-ui.components {
	[popover] {
		position: absolute;

		overflow: auto;

		min-width: var(--size-6xl);
		max-width: 100vw;
		min-height: var(--minimum-clickable-size);
		max-height: 100vh;
		padding: var(--size-2xs);
		border: var(--size-border-width) solid var(--color-border-overlay);
		border-radius: var(--radius-default);

		color: var(--color-on-background-raised);

		opacity: 0;
		background-color: var(--color-background-raised);
		box-shadow: var(--shadow-elevation-high);

		transition: opacity;
		transition-timing-function: ease-in-out;
		transition-duration: 250ms;

		&::backdrop {
			background-color: var(--color-backdrop);
		}

		&:focus-visible {
			outline: var(--outline-default);
			outline-offset: var(--outline-offset);
		}

		&:popover-open {
			opacity: 1;

			@starting-style {
				opacity: 0;
			}
		}

		@media (width > 640px) {
			max-width: 80vw;
			max-height: 80vh;
			padding: var(--size-xs);
		}

		@supports (position-area: top) {
			position-area: bottom;
			margin-top: var(--size-2xs);

			&::backdrop {
				background-color: transparent;
			}
		}
	}
}
