@layer tarragon-ui.components {
	[popover] {
		overflow: auto;

		min-width: var(--size-6xl);
		max-width: 100vw;
		min-height: var(--minimum-clickable-size);
		max-height: 100vh;
		padding: var(--size-2xs);
		border: var(--size-border-width) solid var(--color-border);
		border-radius: var(--radius-default);

		color: var(--color-on-background-raised);

		opacity: 0;
		background-color: var(--color-background-raised);
		box-shadow: var(--shadow-default);

		transition:
			display 150ms ease-in-out,
			opacity 150ms ease-in-out;
		transition-behavior: allow-discrete;

		&::backdrop {
			background-color: var(--color-backdrop);
		}

		&:focus-visible {
			outline: var(--outline-default);
			outline-offset: var(--outline-offset);
		}

		&:popover-open {
			opacity: 1;

			@starting-style {
				opacity: 0;
			}
		}

		@media (width > 640px) {
			max-width: 80vw;
			max-height: 80vh;
			padding: var(--size-xs);
		}

		@supports (top: anchor(--any-name bottom)) {
			inset: auto;
			inset-block-start: anchor(bottom);
			inset-inline-start: anchor(left);
			position-try-fallbacks:
				--position-top-right, --position-bottom-right, --position-top-left,
				--position-middle-middle;

			margin-top: var(--size-2xs);

			&::backdrop {
				background-color: transparent;
			}
		}
	}

	@position-try --position-bottom-left {
		inset: auto;
		inset-block-start: anchor(bottom);
		inset-inline-start: anchor(left);
		margin-top: var(--size-2xs);
	}

	@position-try --position-bottom-right {
		inset: auto;
		inset-block-start: anchor(bottom);
		inset-inline-end: anchor(right);

		margin: 0;
		margin-top: var(--size-2xs);
	}

	@position-try --position-top-left {
		inset: auto;
		inset-block-end: anchor(top);
		inset-inline-start: anchor(left);
		margin-bottom: var(--size-2xs);
	}

	@position-try --position-top-right {
		inset: auto;
		inset-block-end: anchor(top);
		inset-inline-end: anchor(right);
		margin-bottom: var(--size-2xs);
	}

	@position-try --position-middle-middle {
		/* stylelint-disable-next-line at-rule-descriptor-value-no-unknown */
		inset: revert;
		margin: auto;
	}
}
