@font-face {
	font-family: Inter;
	font-weight: 100;
	font-style: normal;
	font-display: swap;
	src: url('./fonts/Inter-Thin.woff2') format('woff2');
}

@font-face {
	font-family: Inter;
	font-weight: 100;
	font-style: italic;
	font-display: swap;
	src: url('./fonts/Inter-ThinItalic.woff2') format('woff2');
}

@font-face {
	font-family: Inter;
	font-weight: 200;
	font-style: normal;
	font-display: swap;
	src: url('./fonts/Inter-ExtraLight.woff2') format('woff2');
}

@font-face {
	font-family: Inter;
	font-weight: 200;
	font-style: italic;
	font-display: swap;
	src: url('./fonts/Inter-ExtraLightItalic.woff2') format('woff2');
}

@font-face {
	font-family: Inter;
	font-weight: 300;
	font-style: normal;
	font-display: swap;
	src: url('./fonts/Inter-Light.woff2') format('woff2');
}

@font-face {
	font-family: Inter;
	font-weight: 300;
	font-style: italic;
	font-display: swap;
	src: url('./fonts/Inter-LightItalic.woff2') format('woff2');
}

@font-face {
	font-family: Inter;
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url('./fonts/Inter-Regular.woff2') format('woff2');
}

@font-face {
	font-family: Inter;
	font-weight: 400;
	font-style: italic;
	font-display: swap;
	src: url('./fonts/Inter-Italic.woff2') format('woff2');
}

@font-face {
	font-family: Inter;
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	src: url('./fonts/Inter-Medium.woff2') format('woff2');
}

@font-face {
	font-family: Inter;
	font-weight: 500;
	font-style: italic;
	font-display: swap;
	src: url('./fonts/Inter-MediumItalic.woff2') format('woff2');
}

@font-face {
	font-family: Inter;
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	src: url('./fonts/Inter-SemiBold.woff2') format('woff2');
}

@font-face {
	font-family: Inter;
	font-weight: 600;
	font-style: italic;
	font-display: swap;
	src: url('./fonts/Inter-SemiBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: Inter;
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url('./fonts/Inter-Bold.woff2') format('woff2');
}

@font-face {
	font-family: Inter;
	font-weight: 700;
	font-style: italic;
	font-display: swap;
	src: url('./fonts/Inter-BoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: Inter;
	font-weight: 800;
	font-style: normal;
	font-display: swap;
	src: url('./fonts/Inter-ExtraBold.woff2') format('woff2');
}

@font-face {
	font-family: Inter;
	font-weight: 800;
	font-style: italic;
	font-display: swap;
	src: url('./fonts/Inter-ExtraBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: Inter;
	font-weight: 900;
	font-style: normal;
	font-display: swap;
	src: url('./fonts/Inter-Black.woff2') format('woff2');
}

@font-face {
	font-family: Inter;
	font-weight: 900;
	font-style: italic;
	font-display: swap;
	src: url('./fonts/Inter-BlackItalic.woff2') format('woff2');
}

@font-face {
	font-family: InterDisplay;
	font-weight: 100;
	font-style: normal;
	font-display: swap;
	src: url('./fonts/InterDisplay-Thin.woff2') format('woff2');
}

@font-face {
	font-family: InterDisplay;
	font-weight: 100;
	font-style: italic;
	font-display: swap;
	src: url('./fonts/InterDisplay-ThinItalic.woff2') format('woff2');
}

@font-face {
	font-family: InterDisplay;
	font-weight: 200;
	font-style: normal;
	font-display: swap;
	src: url('./fonts/InterDisplay-ExtraLight.woff2') format('woff2');
}

@font-face {
	font-family: InterDisplay;
	font-weight: 200;
	font-style: italic;
	font-display: swap;
	src: url('./fonts/InterDisplay-ExtraLightItalic.woff2') format('woff2');
}

@font-face {
	font-family: InterDisplay;
	font-weight: 300;
	font-style: normal;
	font-display: swap;
	src: url('./fonts/InterDisplay-Light.woff2') format('woff2');
}

@font-face {
	font-family: InterDisplay;
	font-weight: 300;
	font-style: italic;
	font-display: swap;
	src: url('./fonts/InterDisplay-LightItalic.woff2') format('woff2');
}

@font-face {
	font-family: InterDisplay;
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url('./fonts/InterDisplay-Regular.woff2') format('woff2');
}

@font-face {
	font-family: InterDisplay;
	font-weight: 400;
	font-style: italic;
	font-display: swap;
	src: url('./fonts/InterDisplay-Italic.woff2') format('woff2');
}

@font-face {
	font-family: InterDisplay;
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	src: url('./fonts/InterDisplay-Medium.woff2') format('woff2');
}

@font-face {
	font-family: InterDisplay;
	font-weight: 500;
	font-style: italic;
	font-display: swap;
	src: url('./fonts/InterDisplay-MediumItalic.woff2') format('woff2');
}

@font-face {
	font-family: InterDisplay;
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	src: url('./fonts/InterDisplay-SemiBold.woff2') format('woff2');
}

@font-face {
	font-family: InterDisplay;
	font-weight: 600;
	font-style: italic;
	font-display: swap;
	src: url('./fonts/InterDisplay-SemiBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: InterDisplay;
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url('./fonts/InterDisplay-Bold.woff2') format('woff2');
}

@font-face {
	font-family: InterDisplay;
	font-weight: 700;
	font-style: italic;
	font-display: swap;
	src: url('./fonts/InterDisplay-BoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: InterDisplay;
	font-weight: 800;
	font-style: normal;
	font-display: swap;
	src: url('./fonts/InterDisplay-ExtraBold.woff2') format('woff2');
}

@font-face {
	font-family: InterDisplay;
	font-weight: 800;
	font-style: italic;
	font-display: swap;
	src: url('./fonts/InterDisplay-ExtraBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: InterDisplay;
	font-weight: 900;
	font-style: normal;
	font-display: swap;
	src: url('./fonts/InterDisplay-Black.woff2') format('woff2');
}

@font-face {
	font-family: InterDisplay;
	font-weight: 900;
	font-style: italic;
	font-display: swap;
	src: url('./fonts/InterDisplay-BlackItalic.woff2') format('woff2');
}

@font-feature-values InterVariable {
	@character-variant {
		alt-1: 1; /* Alternate one */
		alt-3: 9; /* Flat-top three */
		alt-double-s: 7; /* Alternate German double s */
		compact-lc-f: 12; /* Compact f */
		compact-lc-t: 13; /* Compact t */
		cv01: 1;
		cv02: 2;
		cv03: 3;
		cv04: 4;
		cv05: 5;
		cv06: 6;
		cv07: 7;
		cv08: 8;
		cv09: 9;
		cv10: 10;
		cv11: 11;
		cv12: 12;
		cv13: 13;
		lc-l-with-tail: 5; /* Lower-case L with tail */
		open-4: 2; /* Open four */
		open-6: 3; /* Open six */
		open-9: 4; /* Open nine */
		simplified-u: 6; /* Simplified u */
		single-story-a: 11; /* Single-story a */
		uc-g-with-spur: 10; /* Capital G with spur */
		uc-i-with-serif: 8; /* Upper-case i with serif */
	}

	@styleset {
		circled-characters: 5; /* Circled characters */
		disambiguation: 2; /* Disambiguation (with zero) */
		disambiguation-except-zero: 4; /* Disambiguation (no zero) */
		open-digits: 1; /* Open digits */
		round-quotes-and-commas: 3; /* Round quotes &amp; commas */
		square-punctuation: 7; /* Square punctuation */
		square-quotes: 8; /* Square quotes */
		squared-characters: 6; /* Squared characters */
		ss01: 1;
		ss02: 2;
		ss03: 3;
		ss04: 4;
		ss05: 5;
		ss06: 6;
		ss07: 7;
		ss08: 8;
	}
}

@font-feature-values Inter {
	@character-variant {
		alt-1: 1; /* Alternate one */
		alt-3: 9; /* Flat-top three */
		alt-double-s: 7; /* Alternate German double s */
		compact-lc-f: 12; /* Compact f */
		compact-lc-t: 13; /* Compact t */
		cv01: 1;
		cv02: 2;
		cv03: 3;
		cv04: 4;
		cv05: 5;
		cv06: 6;
		cv07: 7;
		cv08: 8;
		cv09: 9;
		cv10: 10;
		cv11: 11;
		cv12: 12;
		cv13: 13;
		lc-l-with-tail: 5; /* Lower-case L with tail */
		open-4: 2; /* Open four */
		open-6: 3; /* Open six */
		open-9: 4; /* Open nine */
		simplified-u: 6; /* Simplified u */
		single-story-a: 11; /* Single-story a */
		uc-g-with-spur: 10; /* Capital G with spur */
		uc-i-with-serif: 8; /* Upper-case i with serif */
	}

	@styleset {
		circled-characters: 5; /* Circled characters */
		disambiguation: 2; /* Disambiguation (with zero) */
		disambiguation-except-zero: 4; /* Disambiguation (no zero) */
		open-digits: 1; /* Open digits */
		round-quotes-and-commas: 3; /* Round quotes &amp; commas */
		square-punctuation: 7; /* Square punctuation */
		square-quotes: 8; /* Square quotes */
		squared-characters: 6; /* Squared characters */
		ss01: 1;
		ss02: 2;
		ss03: 3;
		ss04: 4;
		ss05: 5;
		ss06: 6;
		ss07: 7;
		ss08: 8;
	}
}

@font-feature-values InterDisplay {
	@character-variant {
		alt-1: 1; /* Alternate one */
		alt-3: 9; /* Flat-top three */
		alt-double-s: 7; /* Alternate German double s */
		compact-lc-f: 12; /* Compact f */
		compact-lc-t: 13; /* Compact t */
		cv01: 1;
		cv02: 2;
		cv03: 3;
		cv04: 4;
		cv05: 5;
		cv06: 6;
		cv07: 7;
		cv08: 8;
		cv09: 9;
		cv10: 10;
		cv11: 11;
		cv12: 12;
		cv13: 13;
		lc-l-with-tail: 5; /* Lower-case L with tail */
		open-4: 2; /* Open four */
		open-6: 3; /* Open six */
		open-9: 4; /* Open nine */
		simplified-u: 6; /* Simplified u */
		single-story-a: 11; /* Single-story a */
		uc-g-with-spur: 10; /* Capital G with spur */
		uc-i-with-serif: 8; /* Upper-case i with serif */
	}

	@styleset {
		circled-characters: 5; /* Circled characters */
		disambiguation: 2; /* Disambiguation (with zero) */
		disambiguation-except-zero: 4; /* Disambiguation (no zero) */
		open-digits: 1; /* Open digits */
		round-quotes-and-commas: 3; /* Round quotes &amp; commas */
		square-punctuation: 7; /* Square punctuation */
		square-quotes: 8; /* Square quotes */
		squared-characters: 6; /* Squared characters */
		ss01: 1;
		ss02: 2;
		ss03: 3;
		ss04: 4;
		ss05: 5;
		ss06: 6;
		ss07: 7;
		ss08: 8;
	}
}
