@layer tarragon-ui.components {
	.status-banner {
		--_status-banner--background-color: var(
			--status-banner--background-color,
			var(--color-info)
		);
		--_status-banner--color: var(--status-banner--color, var(--color-on-info));

		width: 100%;
		color: var(--_status-banner--color);
		background-color: var(--_status-banner--background-color);

		&:not(.container) {
			padding-inline: var(--size-md);
		}
	}

	.status-banner-content {
		display: grid;
		grid-template-columns: var(--size-md) 1fr;
		gap: var(--size-xs);
		align-items: center;

		width: 100%;
		padding-block: var(--size-xs);

		font-size: var(--text-sm);
	}

	.status-banner > svg {
		width: var(--size-md);
		height: var(--size-md);
	}

	.status-banner a {
		color: inherit;

		&:hover,
		&:focus-visible {
			color: inherit;
		}
	}

	.status-banner h2,
	.status-banner-title {
		grid-column-start: 2;

		font-family: var(--font-heading);
		font-size: var(--text-lg);
		font-weight: var(--font-weight-semibold);
		line-height: var(--line-height-md);
		color: inherit;
	}

	.status-banner p,
	.status-banner-description {
		grid-column-start: 2;
		font-size: var(--text-sm);
	}

	.status-banner ul {
		grid-column-start: 2;
		font-size: var(--text-sm);
	}
}

@layer tarragon-ui.utilities {
	.status-banner {
		&.danger {
			--status-banner--background-color: var(--color-danger);
			--status-banner--color: var(--color-on-danger);
			--status-banner--border-color: var(--color-danger);
		}

		&.info {
			--status-banner--background-color: var(--color-info);
			--status-banner--border-color: var(--color-info);
			--status-banner--color: var(--color-on-info);
		}

		&.success {
			--status-banner--background-color: var(--color-success);
			--status-banner--border-color: var(--color-success);
			--status-banner--color: var(--color-on-success);
		}

		&.warning {
			--status-banner--background-color: var(--color-warning);
			--status-banner--border-color: var(--color-warning);
			--status-banner--color: var(--color-on-warning);
		}

		&.accent {
			--status-banner--background-color: var(--color-accent);
			--status-banner--border-color: var(--color-accent);
			--status-banner--color: var(--color-on-accent);
		}
	}
}
