@layer tarragon-ui.components {
	.badge {
		--_badge--background-color: var(--badge--background-color, var(--color-primary));
		--_badge--border-color: var(--badge--border-color, transparent);
		--_badge--color: var(--badge--color, var(--color-on-primary));

		overflow: hidden;
		display: inline-flex;
		flex-shrink: 0;
		gap: var(--size-2xs);
		align-items: center;
		justify-content: center;

		width: fit-content;
		padding: var(--size-2xs) var(--size-sm);
		border: var(--size-border-width) solid var(--_badge--border-color);
		border-radius: var(--radius-full);

		font-size: var(--text-xs);
		font-weight: var(--font-weight-medium);
		color: var(--_badge--color);
		white-space: nowrap;

		background-color: var(--_badge--background-color);
	}

	.badge svg {
		pointer-events: none;
		flex-shrink: 0;
		width: var(--size-xs);
		height: var(--size-xs);
	}
}

@layer tarragon-ui.utilities {
	.badge {
		&.danger {
			--badge--background-color: var(--color-danger);
			--badge--color: var(--color-on-danger);
			--badge--border-color: var(--color-danger);
		}

		&.info {
			--badge--background-color: var(--color-info);
			--badge--border-color: var(--color-info);
			--badge--color: var(--color-on-info);
		}

		&.success {
			--badge--background-color: var(--color-success);
			--badge--border-color: var(--color-success);
			--badge--color: var(--color-on-success);
		}

		&.warning {
			--badge--background-color: var(--color-warning);
			--badge--border-color: var(--color-warning);
			--badge--color: var(--color-on-warning);
		}

		&.accent {
			--badge--background-color: var(--color-accent);
			--badge--border-color: var(--color-accent);
			--badge--color: var(--color-on-accent);
		}
	}
}
