---
import Layout from '@/layouts/Layout.astro'
import { buildUrl } from '@/scripts/constants'
---

<Layout currentPage={undefined}>
	<h1>Page not found</h1>
	<div>
		<a href={buildUrl('/')} class='btn'>Go to start page</a>
	</div>
</Layout>
