---
import { CircleAlertIcon, CircleCheckBigIcon, PopcornIcon, TriangleAlertIcon } from '@lucide/astro'
import ComponentLayout from '@/layouts/ComponentLayout.astro'
---

<ComponentLayout name='Alert'>
	<div class='alert'>
		<CircleCheckBigIcon aria-hidden />
		<h2>This is an alert with icon, title</h2>
		<p class='alert-description'>And description.</p>
	</div>
	<div class='alert info outline'>
		<PopcornIcon aria-hidden />
		<h2>This Alert has a title and an icon. No description.</h2>
	</div>
	<div class='alert success'>
		<CircleCheckBigIcon aria-hidden />
		<h2>Success! Your changes have been saved</h2>
	</div>
	<div class='alert success outline'>
		<CircleCheckBigIcon aria-hidden />
		<h2>Success! Your changes have been saved</h2>
	</div>
	<div class='alert warning'>
		<TriangleAlertIcon aria-hidden />
		<h2>This Alert is a warning</h2>
	</div>
	<div class='alert warning outline'>
		<TriangleAlertIcon aria-hidden />
		<h2>This Alert is a warning</h2>
	</div>
	<div class='alert danger'>
		<CircleAlertIcon aria-hidden />
		<h2>Unable to process your payment.</h2>
		<p>Please verify your billing information and try again.</p>
		<ul>
			<li>Check your card details</li>
			<li>Ensure sufficient funds</li>
			<li>Verify billing address</li>
			<li><a href='#test'>Input must have value</a></li>
		</ul>
	</div>
	<div class='alert danger outline'>
		<CircleAlertIcon aria-hidden />
		<h2>Unable to process your payment.</h2>
		<p>Please verify your billing information and try again.</p>
		<ul>
			<li>Check your card details</li>
			<li>Ensure sufficient funds</li>
			<li>Verify billing address</li>
			<li><a href='#test'>Input must have value</a></li>
		</ul>
	</div>
</ComponentLayout>
