---
import ComponentLayout from '@/layouts/ComponentLayout.astro'
---

<ComponentLayout name='Badge'>
	<div class='cluster' data-testid='badge-variants'>
		<span class='badge'>Badge</span>
		<span class='badge badge-accent'>Accent Badge</span>
		<span class='badge badge-danger'>Danger Badge</span>
		<span class='badge badge-outline'>Outline Badge</span>
		<span class='badge'>1</span>
		<span class='badge badge-accent'>14</span>
		<span class='badge badge-danger'>99+</span>
		<span class='badge badge-outline'>2</span>
	</div>
</ComponentLayout>
