---
import { FilePlus, Folder } from '@lucide/astro'
import ComponentLayout from '@/layouts/ComponentLayout.astro'
---

<ComponentLayout name='Breadcrumbs'>
	<nav aria-label='Breadcrumb' class='breadcrumb'>
		<ul>
			<li>
				<a class='btn link' href='#test'>Home</a>
			</li>
			<li>
				<a class='btn link' href='#test'>Documents</a>
			</li>
			<li aria-current='page'>Add Document</li>
		</ul>
	</nav>
	<nav aria-label='Breadcrumbs with icons' class='breadcrumb'>
		<ul>
			<li>
				<a class='btn link' href='#test'>
					<Folder />
					Home
				</a>
			</li>
			<li>
				<a class='btn link' href='#test'>
					<Folder />
					Documents
				</a>
			</li>
			<li aria-current='page'>
				<span>
					<FilePlus />
					Add Document
				</span>
			</li>
		</ul>
	</nav>
</ComponentLayout>
