---
import ComponentLayout from '@/layouts/ComponentLayout.astro'
---

<ComponentLayout name='Checkbox'>
	<fieldset class='choice-group'>
		<legend>Label</legend>
		<label for='checkbox-standard-1'>
			<input id='checkbox-standard-1' type='checkbox' />
			Label text
		</label>
		<label for='checkbox-standard-2'>
			<input id='checkbox-standard-2' type='checkbox' />
			Label text
		</label>
		<label for='checkbox-standard-3'>
			<input id='checkbox-standard-3' type='checkbox' />
			Label text
		</label>
	</fieldset>
</ComponentLayout>
