---
import { type Page, components, docPages } from '@/scripts/constants'
import ComponentLayout from '@/layouts/ComponentLayout.astro'
import { SearchIcon } from '@lucide/astro'

const search = Astro.url.searchParams.get('search') ?? undefined

let searchMatchesDocs: Array<Page> = docPages
let searchMatches: Array<Page> = components

if (search) {
	searchMatchesDocs = docPages.filter((c) =>
		c.name.toLocaleLowerCase().includes(search.toLocaleLowerCase()),
	)
	searchMatches = components.filter((c) =>
		c.name.toLocaleLowerCase().includes(search.toLocaleLowerCase()),
	)
}
---

<ComponentLayout name='Components'>
	<tui-search-filter data-target-selector='.navigation-card'>
		<form action='/components' method='Get' role='search' class='search'>
			<div>
				<label class='visually-hidden' for='component-search'>Search for components</label>
				<input
					type='search'
					name='search'
					placeholder='Component name'
					id='component-search'
				/>
			</div>
			<button type='submit' class='outline'>
				<SearchIcon aria-hidden />
				<span class='visually-hidden-below-tablet'>Search</span>
			</button>
		</form>
	</tui-search-filter>

	{
		searchMatchesDocs.length !== 0 && (
			<>
				<h2>Getting started</h2>
				<div class='grid grid-cols-1 grid-tablet-cols-2 grid-desktop-cols-3 gap-3xl'>
					{searchMatchesDocs.map((component) => (
						<article class='card navigation-card'>
							<h2 class='h3'>
								<a href={component.href} class='navigation-card-link'>
									{component.name}
								</a>
							</h2>
						</article>
					))}
				</div>
			</>
		)
	}
	{
		searchMatches.length !== 0 && (
			<>
				<h2>Components</h2>
				<div class='grid grid-cols-1 grid-tablet-cols-2 grid-desktop-cols-3 gap-3xl'>
					{searchMatches.map((component) => (
						<article class='card navigation-card'>
							<h2 class='h3'>
								<a href={component.href} class='navigation-card-link'>
									{component.name}
								</a>
							</h2>
						</article>
					))}
				</div>
			</>
		)
	}
</ComponentLayout>
