---
import ComponentLayout from '@/layouts/ComponentLayout.astro'
---

<ComponentLayout name='Container'>
	<div class='prose'>
		<p>Use the <code>.container</code> class to center content and set a maximum width.</p>
	</div>
</ComponentLayout>
