---
import ComponentLayout from '@/layouts/ComponentLayout.astro'
---

<ComponentLayout name='Container'>
	<p>Use the <code>.container</code> class to center content and set a maximum width.</p>
</ComponentLayout>
