---
import ComponentLayout from '@/layouts/ComponentLayout.astro'
---

<ComponentLayout name='Cookie Banner'>
	<div role='region' class='card padding-lg'>
		<h2>Cookies on [site name]</h2>
		<div class='stack gap-xs'>
			<p>This site uses cookies to work</p>
			<p>Accept cookies to use this site's full functionality</p>
		</div>
		<div class='cluster gap-xs'>
			<button class='outline'>Reject</button>
			<button>Accept</button>
		</div>
	</div>
</ComponentLayout>
