---
import ComponentLayout from '@/layouts/ComponentLayout.astro'
import { XIcon } from '@lucide/astro'
---

<ComponentLayout name='Dialog'>
	<div>
		<button commandfor='dialog-default' command='show-modal'>Open default dialog</button>
		<dialog id='dialog-default'>
			<div class='split'>
				<h2>Hello!</h2>
				<form method='dialog'>
					<button class='ghost size-icon'>
						<XIcon />
					</button>
				</form>
			</div>
			<p class='py-4'>Press ESC key or click the button below to close</p>
			<div class='action-footer'>
				<form method='dialog'>
					<button class='outline'>Close</button>
				</form>
				<button>Save</button>
			</div>
		</dialog>
	</div>
	<div>
		<button class='accent' commandfor='dialog-full' command='show-modal'>
			Open full width dialog
		</button>
		<dialog class='full' id='dialog-full'>
			<div class='stack'>
				<h2>Hello!</h2>
				<p class='py-4'>Press ESC key or click the button below to close</p>
			</div>
			<div class='action-footer'>
				<button class='outline' commandfor='dialog-full' command='close'>Close</button>
				<button>Save</button>
			</div>
		</dialog>
	</div>
</ComponentLayout>
