---
import { ChevronDownIcon } from '@lucide/astro'
import ComponentLayout from '@/layouts/ComponentLayout.astro'
---

<ComponentLayout name='Dropdown'>
	<tui-dropdown class='block'>
		<button type='button' class='outline' popovertarget='dropdown'>
			Open dropdown
			<ChevronDownIcon aria-hidden='true' />
		</button>
		<ul popover id='dropdown'>
			<li><button class='ghost w-full'>Edit</button></li>
			<li><a href='#dropdown' class='btn ghost w-full'>Options</a></li>
			<li><button class='danger w-full'>Delete</button></li>
		</ul>
	</tui-dropdown>
</ComponentLayout>
