---
import { ChevronDownIcon } from '@lucide/astro'
import CodeExample from '@/components/CodeExample.astro'
import ComponentLayout from '@/layouts/ComponentLayout.astro'
---

<ComponentLayout name='Dropdown'>
	<CodeExample>
		<tui-dropdown class='block'>
			<button type='button' class='outline' popovertarget='dropdown'>
				Open dropdown
				<ChevronDownIcon aria-hidden='true' />
			</button>
			<ul popover id='dropdown'>
				<li><button class='ghost'>Edit</button></li>
				<li><a href='#dropdown' class='btn ghost'>Options</a></li>
				<li><button class='danger'>Delete</button></li>
			</ul>
		</tui-dropdown>
	</CodeExample>
</ComponentLayout>
