---
import ComponentLayout from '@/layouts/ComponentLayout.astro'
import { Image } from 'astro:assets'
import ibizaImage from '../assets/Ibiza.jpg'
---

<ComponentLayout name='Figure'>
	<div class='cluster'>
		<figure>
			<Image class='image' src={ibizaImage} alt='A white Seat Ibiza on a white background' />
			<figcaption>
				Seat Ibiza
				<span class='photo-by'>Photo: Google.com</span>
			</figcaption>
		</figure>
		<figure>
			<Image
				class='image aspect-ratio-16x9'
				src={ibizaImage}
				alt='A white Seat Ibiza on a white background'
			/>
			<figcaption>
				Seat Ibiza
				<span class='photo-by'>Photo: Google.com</span>
			</figcaption>
		</figure>
		<figure>
			<Image
				class='image aspect-ratio-4x3'
				src={ibizaImage}
				alt='A white Seat Ibiza on a white background'
			/>
			<figcaption>
				Seat Ibiza
				<span class='photo-by'>Photo: Google.com</span>
			</figcaption>
		</figure>
	</div>
</ComponentLayout>
