---
import ComponentLayout from '@/layouts/ComponentLayout.astro'
import { Image } from 'astro:assets'
import ibizaImage from '../assets/Ibiza.jpg'
---

<ComponentLayout name='Figure'>
	<div class='cluster'>
		<figure>
			<Image class='image' src={ibizaImage} alt='En vit Seat Ibiza med en vit bakgrund' />
			<figcaption>
				Volkswagen Polo 1.0 TGI
				<span class='photo-by'>Foto: Google.com</span>
			</figcaption>
		</figure>
		<figure>
			<Image class='image' src={ibizaImage} alt='En vit Seat Ibiza med en vit bakgrund' />
			<figcaption>
				Volkswagen Polo 1.0 TGI
				<span class='photo-by'>Foto: Google.com</span>
			</figcaption>
		</figure>
		<figure>
			<Image class='image' src={ibizaImage} alt='En vit Seat Ibiza med en vit bakgrund' />
			<figcaption>
				Volkswagen Polo 1.0 TGI
				<span class='photo-by'>Foto: Google.com</span>
			</figcaption>
		</figure>
	</div>
</ComponentLayout>
