---
import Layout from '@/layouts/Layout.astro'
---

<Layout>
	<h1 class='text-center w-full'>Tarragon-UI</h1>
	<p>**Explain why it is so good**</p>
	<a href=`${import.meta.env.BASE_URL}introduction` class='btn'>Get started</a>
</Layout>
