---
import { buildUrl, siteTitle } from '@/scripts/constants'
import RootLayout from '@/layouts/RootLayout.astro'
---

<RootLayout currentPage={undefined}>
	<main id='main' class='stack center gap-3xl padding-3xl flex-1'>
		<h1 class='text-center w-full'>{siteTitle}</h1>
		<p>Lightweight CSS and WebComponents for performant and accessible applications</p>
		<a href={buildUrl('/installation')} class='btn'>Get started</a>
	</main>
</RootLayout>
