---
import CodeExample from '@/components/CodeExample.astro'
import ComponentLayout from '@/layouts/ComponentLayout.astro'
---

<ComponentLayout name='Indicator'>
	<CodeExample>
		<div class='indicator'>
			<span class='badge success indicator-item'>New</span>
			<div class='card'>Content</div>
		</div>
	</CodeExample>
</ComponentLayout>
