---
import ComponentLayout from '@/layouts/ComponentLayout.astro'
---

<ComponentLayout name='Link'>
	<a href='/components'>Text link</a>
	<a href='/components' class='link-subtle'>Subtle link</a>
	<a href='/components' aria-current='page'>Current page link</a>
	<p>This is some text with a <a href='/components'>link</a> in it</p>
	<a href='/components' class='btn'>This is a link styled as a primary button</a>
	<a href='/components' class='btn outline'>This is a link styled as an outline button</a>
	<a href='/components' class='btn' aria-current='page'>Current page link as a button</a>
</ComponentLayout>
