---
import ComponentLayout from '@/layouts/ComponentLayout.astro'
import { buildUrl } from '@/scripts/constants'
---

<ComponentLayout name='Link'>
	<p><a href={buildUrl('/search-filter')}>Text link</a></p>
	<p><a href={buildUrl('/search-filter')} class='link-subtle'>Subtle link</a></p>
	<p>This is some text with a <a href={buildUrl('/search-filter')}>link</a> in it</p>
	<div>
		<a href={buildUrl('/search-filter')} class='btn'>
			This is a link styled as a primary button
		</a>
	</div>
	<div>
		<a href={buildUrl('/search-filter')} class='btn outline'>
			This is a link styled as an outline button
		</a>
	</div>
</ComponentLayout>
