---
import ComponentLayout from '@/layouts/ComponentLayout.astro'
---

<ComponentLayout name='Margin'>
	<p>
		Use <code>.margin-top-auto</code> to push an element to the bottom of its container, or
		<code>.margin-left-auto</code> to push it to the right.
	</p>
</ComponentLayout>
