---
import ComponentLayout from '@/layouts/ComponentLayout.astro'
---

<ComponentLayout name='Margin'>
	<ul>
		<li><code>.margin-auto</code></li>
		<li><code>.margin-block-auto</code></li>
		<li><code>.margin-block-start-auto</code></li>
		<li><code>.margin-block-end-auto</code></li>
		<li><code>.margin-inline-auto</code></li>
		<li><code>.margin-inline-start-auto</code></li>
		<li><code>.margin-inline-end-auto</code></li>
	</ul>
</ComponentLayout>
