---
import ComponentLayout from '@/layouts/ComponentLayout.astro'
---

<ComponentLayout name='Size Utilities'>
	<p>
		Use the <code>.h-full</code>, <code>.w-full</code>, and <code>.max-w-7xl</code> classes to set
		the height, width, and max-width of an element.
	</p>
	<p>
		Use the <code>.overflow-auto</code> and <code>.overflow-x-auto</code> classes to control the
		overflow behavior of an element.
	</p>
</ComponentLayout>
