---
import CodeExample from '@/components/CodeExample.astro'
import ComponentLayout from '@/layouts/ComponentLayout.astro'
---

<ComponentLayout name='Textarea'>
	<CodeExample>
		<div class='form-group'>
			<label for='textarea'>Fruit</label>
			<textarea id='textarea' placeholder='I like apples because...' rows='5'></textarea>
		</div>
	</CodeExample>
</ComponentLayout>
