---
import ComponentLayout from '@/layouts/ComponentLayout.astro'
---

<ComponentLayout name='Textarea'>
	<div class='form-group'>
		<label for='textarea'>Fruit</label>
		<textarea id='textarea' placeholder='I like apples because...' rows='5'></textarea>
	</div>
</ComponentLayout>
