---
import ComponentLayout from '@/layouts/ComponentLayout.astro'
---

<ComponentLayout name='Typography Utilities'>
	<div class='prose'>
		<h2>Text size</h2>
		<p>
			Use the <code>.text-*</code> classes to set the font size of an element. The available sizes
			are:
		</p>
		<ul>
			<li><code>.text-2xl</code></li>
			<li><code>.text-xl</code></li>
			<li><code>.text-lg</code></li>
			<li><code>.text-sm</code></li>
			<li><code>.text-xs</code></li>
		</ul>
		<p>
			You can also use the <code>.text-lead</code> class to create a lead paragraph, which is typically
			used for introductory text.
		</p>

		<h2>Text color</h2>
		<p>
			Use the <code>.text-*</code> classes to set the text color of an element. The available colors
			are:
		</p>
		<ul>
			<li><code>.text-muted</code></li>
			<li><code>.text-danger</code></li>
		</ul>

		<h2>Text alignment</h2>
		<p>
			Use the <code>.text-*</code> classes to set the text alignment of an element. The available
			alignments are:
		</p>
		<ul>
			<li><code>.text-left</code></li>
			<li><code>.text-center</code></li>
			<li><code>.text-right</code></li>
		</ul>

		<h2>Text transformation</h2>
		<p>
			Use the <code>.text-*</code> classes to set the text transformation of an element. The available
			transformations are:
		</p>
		<ul>
			<li><code>.text-capitalize</code></li>
			<li><code>.text-uppercase</code></li>
			<li><code>.text-lowercase</code></li>
		</ul>

		<h2>Font style</h2>
		<p>
			Use the <code>.font-*</code> classes to set the font style of an element. The available styles
			are:
		</p>
		<ul>
			<li><code>.font-italic</code></li>
			<li><code>.font-medium</code></li>
			<li><code>.font-bold</code></li>
		</ul>
	</div>
</ComponentLayout>
