@layer tarragon-ui.components {
	dl {
		display: flex;
		flex-direction: column;
		gap: var(--size-md);
		align-items: start;

		> div {
			display: flex;
			flex-direction: column;
			gap: var(--size-2xs);
			align-items: start;
		}

		@media (width > 640px) {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(var(--size-6xl), 1fr));
			column-gap: var(--size-4xl);
		}
	}

	dt {
		margin: 0;
		font-size: var(--text-sm);
		color: var(--color-text-muted);
	}

	dd {
		margin: 0;
		font-size: var(--text-md);
		font-weight: var(--font-weight-semibold);
		color: var(--color-text);
	}
}
