---
import NavigationAccordion from '@/components/NavigationAccordion.astro'
import type { Page } from '@/scripts/constants'
import RootLayout from './RootLayout.astro'

type Props = {
	currentPage: Page | undefined
}

const { currentPage } = Astro.props
---

<RootLayout currentPage={currentPage}>
	<div class='flex-1 container'>
		<div class='grid-desktop'>
			<aside class='show-above-desktop padding-block-3xl padding-inline-md cell-one-fourth'>
				<NavigationAccordion currentPage={currentPage} />
			</aside>
			<main id='main' class='cell-three-fourths padding-block-3xl'>
				<slot />
			</main>
		</div>
	</div>
</RootLayout>
