---
import '@tarragon-ui/styles/dev'
import { type Page, buildUrl, siteTitle } from '@/scripts/constants'
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'

type Props = {
	currentPage: Page | undefined
}

const { currentPage } = Astro.props
---

<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href={buildUrl('/favicon.svg')} />
		<meta name='generator' content={Astro.generator} />
		<title>{siteTitle}</title>
	</head>
	<body id='body' class='stack gap-0'>
		<a href='#main' class='visually-hidden-focusable'>Skip to main content</a>
		<Header currentPage={currentPage} />
		<slot />
		<Footer />
	</body>
</html>

<script>
	import '@tarragon-ui/js/dev'
</script>
