---
import '@tarragon-ui/styles/dev'
import Header from '@/components/Header.astro'
---

<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='generator' content={Astro.generator} />
		<title>Tarragon-UI</title>
	</head>
	<body>
		<a href='#main' class='visually-hidden-focusable'>Skip to main content</a>
		<Header />
		<slot />
	</body>
</html>

<script>
	import '@tarragon-ui/js/dev'
</script>
